In [15]:
import numpy as np
import pandas as pd

from scipy.stats import linregress
#from config import (gkey)
import gmaps

import json
import requests
from pprint import pprint

In [2]:
file_path = "Resources/Chicago_Health_Hardship.csv"
hardship_df= pd.read_csv(file_path)
hardship_df

,Layer,Name,GEOID,Population,Longitude,Latitude,HDX_2015-2019,HDX_2011-2015,Unnamed: 8
0,Community area,Rogers Park,1,52772,-87.670171,42.009630,61.630585,64.741637,-3.111052
1,Community area,Norwood Park,10,41109,-87.803451,41.985248,22.139738,25.624614,-3.484875
2,Community area,Jefferson Park,11,26201,-87.771165,41.978836,38.304424,47.049867,-8.745442
3,Community area,Forest Glen,12,19579,-87.758358,41.993938,16.696647,16.568261,0.128387
4,Community area,North Park,13,17522,-87.723578,41.983651,50.364721,46.624422,3.740299
...,...,...,...,...,...,...,...,...,...
72,Community area,Morgan Park,75,21714,-87.669062,41.689729,53.120251,53.940465,-0.820214
73,Community area,O'Hare,76,14416,-87.893699,41.975696,58.918869,60.423957,-1.505087
74,Community area,Edgewater,77,47343,-87.663419,41.986719,26.803564,31.441967,-4.638404
75,Community area,Near North Side,8,95467,-87.633318,41.899611,3.920002,8.996390,-5.076388
76,Community area,Edison Park,9,11521,-87.813780,42.007627,6.406122,9.899157,-3.493035

In [10]:
hardship_cleaned = hardship_df.drop(columns = ['Layer'])
hardship_cleaned

hardship_cleaned_df = hardship_cleaned.rename(columns = {'HDX_2015-2019': '2015-2019',
                                                         'HDX_2011-2015': '2011-2015',
                                                        'Unnamed: 8': 'Difference between Time Frames'})
hardship_cleaned_df

,Name,GEOID,Population,Longitude,Latitude,2015-2019,2011-2015,Difference between Time Frames
0,Rogers Park,1,52772,-87.670171,42.009630,61.630585,64.741637,-3.111052
1,Norwood Park,10,41109,-87.803451,41.985248,22.139738,25.624614,-3.484875
2,Jefferson Park,11,26201,-87.771165,41.978836,38.304424,47.049867,-8.745442
3,Forest Glen,12,19579,-87.758358,41.993938,16.696647,16.568261,0.128387
4,North Park,13,17522,-87.723578,41.983651,50.364721,46.624422,3.740299
...,...,...,...,...,...,...,...,...
72,Morgan Park,75,21714,-87.669062,41.689729,53.120251,53.940465,-0.820214
73,O'Hare,76,14416,-87.893699,41.975696,58.918869,60.423957,-1.505087
74,Edgewater,77,47343,-87.663419,41.986719,26.803564,31.441967,-4.638404
75,Near North Side,8,95467,-87.633318,41.899611,3.920002,8.996390,-5.076388
76,Edison Park,9,11521,-87.813780,42.007627,6.406122,9.899157,-3.493035

In [12]:
locations = hardship_cleaned_df[["Longitude", "Latitude"]].astype(float)